version: 2.1

orbs:
  hmpps: ministryofjustice/hmpps@10

parameters:
  alerts-slack-channel:
    type: string
    default: em-datastore-alerts
  releases-slack-channel:
    type: string
    default: em-engineers-moj-madetech

jobs:
  validate:
    executor:
      name: hmpps/localstack
      jdk_tag: "25.0"
      localstack_tag: "3.0"
    environment:
      AWS_ACCESS_KEY_ID: ASIAIOSFODNN7EXAMPLE
      AWS_SECRET_ACCESS_KEY: wJalrXUtnFEMI/K7MDENG/bPxRfiCYEXAMPLEKEY
      AWS_SESSION_TOKEN: IQoJb3JpZ2luX2IQoJb3JpZ2luX2IQoJb3JpZ2luX2IQoJb3JpZ2luX2IQoJb3JpZVERYLONGSTRINGEXAMPLE
    steps:
      - checkout
      - restore_cache:
          keys:
            - gradle-{{ checksum "build.gradle.kts" }}
            - gradle-
      - run:
          command: ./gradlew check
      - run:
          command: ./gradlew assemble
      - save_cache:
          paths:
            - ~/.gradle
          key: gradle-{{ checksum "build.gradle.kts" }}
      - store_test_results:
          path: build/test-results
      - store_artifacts:
          path: build/reports/tests

workflows:
  version: 2
  build-test-and-deploy:
    jobs:
      - validate:
          filters:
            tags:
              ignore: /.*/