<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="Example" type="SpringBootApplicationConfigurationType" factoryName="Spring Boot">
    <option name="ACTIVE_PROFILES" value="local" />
    <envs>
      <env name="AWS_ACCESS_KEY_ID" value="this-is-a-fake-value" />
      <env name="AWS_SECRET_ACCESS_KEY" value="this-is-a-fake-value" />
      <env name="AWS_SESSION_TOKEN" value="this-is-a-fake-value" />
      <env name="FLAG_USE_LOCAL_CREDS" value="true" />
    </envs>
    <module name="hmpps-electronic-monitoring-datastore-api.main" />
    <option name="SPRING_BOOT_MAIN_CLASS" value="uk.gov.justice.digital.hmpps.electronicmonitoringdatastoreapi.HmppsElectronicMonitoringDatastoreApi" />
    <method v="2">
      <option name="Make" enabled="true" />
    </method>
  </configuration>
</component>